div{
height: 150px;
border-color: #092454 solid 3px;
}

#item1 {
background-color: #e69ef2;
}

#item2 {
background-color: #62d0ff;
}

#item3 {
background-color: #ced5db;
}

#item4 {
background-color: #85e38d;
}